@import './variables.scss';
@import './mixin.scss';
@import './svgicon.scss';
@import './layout.scss';
@import "./global.scss";
@import "./flex.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  background: $grey-bg;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.c3{color: #333333!important;}

.c6{color: #666666!important;}

.color-primary{
  color: $color-primary;
}
.color-success{
  color: $color-success;
}
.color-warning{
  color: $color-warning;
}
.color-danger{
  color: $color-danger;
}
.color-grey{
  color: $color-grey;
}
.color-lt-grey{
  color: $color-grey;
}
.color-important {
  color: $fc-important;
}
.color-main {
  color: $main-font;
}
.color-vice {
  color: $lt-black-font;
}
.color-white {
  color: $white-bg;
}
.color-assist {
  color: $assist-color;
}
.color-tips {
  color: $color-tips;
}
.color-goods-red {
  color: $color-goods-red;
}
.order-blue-color {
  color: $order-blue-color;
}
.home-page-blue-color {
  color: $home-page-blue-color;
}

.bgcolor-white {
  background-color: $white-bg;
}

.fl{
  float: left!important;
}

.fr{
  float: right!important;
}

// margin
.mgt5 {
  margin-top: 5px;
}

.mgt10 {
  margin-top: 10px;
}

.mgt15 {
  margin-top: 15px;
}

.mgt20 {
  margin-top: 20px;
}

.mgt30 {
  margin-top: 30px;
}


.mgt40 {
  margin-top: 40px;
}

.mgl5 {
  margin-left: 5px;
}

.mgl10 {
  margin-left: 10px;
}

.mgl15 {
  margin-left: 15px;
}

.mgr5 {
  margin-right: 5px;
}

.mgr10 {
  margin-right: 10px;
}

.mgr15 {
  margin-right: 15px;
}

.mgb5 {
  margin-bottom: 5px;
}

.mgb10 {
  margin-bottom: 10px;
}

.mgb15 {
  margin-bottom: 15px;
}

.mgb20 {
  margin-bottom: 20px;
}

.mgb25 {
  margin-bottom: 25px;
}

.mgb30 {
  margin-bottom: 30px;
}

.mgb40 {
  margin-bottom: 40px;
}

.mgr20 {
  margin-right: 20px;
}

.mgl20 {
  margin-left: 20px;
}

.mgl40 {
  margin-left: 40px;
}

.mgl60 {
  margin-left: 60px;
}

.mgl100 {
  margin-left: 100px;
}

// padding
.pd0 {
  padding: 0!important;
}
.pd15 {
  padding: 15px;
}
.pdl5 {
  padding-left: 5px;
}

.pdl10 {
  padding-left: 10px;
}

.pdl15 {
  padding-left: 15px;
}

.pdl20 {
  padding-left: 20px;
}

.pdl80 {
  padding-left: 80px;
}

.pdr10 {
  padding-right: 10px;
}

.pdr15 {
  padding-right: 15px;
}

.pdr20 {
  padding-right: 20px;
}

.pdt10 {
  padding-top: 10px;
}

.pdt15 {
  padding-top: 15px;
}

.pdt20 {
  padding-top: 20px;
}

.pdt30 {
  padding-top: 30px;
}

.pdt40 {
  padding-top: 40px;
}

.pdb10 {
  padding-bottom: 10px;
}
.pdb15 {
  padding-bottom: 15px;
}
.pdb20 {
  padding-bottom: 20px;
}
.pdb30 {
  padding-bottom: 30px;
}

// text-align
.txtC {
  text-align: center;
}

.txtL {
  text-align: left;
}

.txtR {
  text-align: right;
}

// font-size
.fs-60 {
  font-size: 60px;
}

.fs-36 {
  font-size: 36px;
}

.fs-30 {
  font-size: 30px;
}

.fs-26 {
  font-size: 26px;
}

.fs-24 {
  font-size: 24px;
}

.fs-22 {
  font-size: 22px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

// font-weight
.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.fw-300 {
  font-weight: 300;
}

// fixed
.fix-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.text-c { text-align: center; }
.text-l { text-align: left; }
.text-r { text-align: right; }

.border5 {
  border-radius: 5px;
}
.border10 {
  border-radius: 10px;
}
.box-shadow-normal {
  box-shadow:0px 1px 5px rgba(0,0,0,0.1);
}
.border-bottom-F2 {
  border-bottom: 1px solid #F2F2F2;
}
